<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>

            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'create_receipt' %}">Create receipt</a></li>
                <li><a href="{% url 'category_list' %}">category list</a></li>
                <li><a href="{% url 'account_list' %}">account list</a></li>
                <li><a href="{% url 'create_category' %}">create category</a></li>
                <li><a href="{% url 'create_account' %}">create account</a></li>

                {% endif %}
            </ul>
        </nav>
    </header>
   <main>
    <h1>Categories</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>name</th>
                        <th>number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in category %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.receipts.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
